.u-section-1 .u-sheet-1 {
  min-height: 842px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 483px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 3px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 43px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 359px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-3 {
  margin: 20px 42px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 359px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  min-height: 842px;
  background-image: url("images/Raymond.jpg");
  background-position: 47.83% 0%;
  background-size: cover;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 257px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 398px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 296px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 296px;
  }

  .u-section-1 .u-image-1 {
    background-repeat: no-repeat;
    min-height: 694px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1824px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 273px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1151px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1269px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 363px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 93px;
  }

  .u-section-1 .u-image-1 {
    min-height: 863px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 885px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 59px;
  }

  .u-section-1 .u-image-1 {
    min-height: 543px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 331px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  margin: 35px 80px -21px 108px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-block-e3a5-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-e3a5-3 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-e3a5-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 991px) {
  .u-block-e3a5-3 {
    top: 316px;
  }

  .u-block-e3a5-4 {
    width: 65px;
    height: 65px;
    left: auto;
    top: 316px;
  }
}

.u-section-3-1 .u-sheet-1 {
  min-height: 799px;
}

.u-section-3-1 .u-image-1 {
  filter: brightness(0.6);
  height: 708px;
  margin: 49px 0 0 auto;
}

.u-section-3-1 .u-text-1 {
  margin: -666px 18px 0 348px;
}

.u-section-3-1 .u-text-2 {
  margin: 18px 0 60px 487px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-3-1 .u-image-1 {
    margin-top: 300px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-1 .u-text-1 {
    margin-top: -402px;
    margin-right: 0;
    margin-left: 166px;
  }

  .u-section-3-1 .u-text-2 {
    margin-left: 287px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-image-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-1 .u-text-1 {
    width: auto;
    margin-top: -685px;
    margin-right: 24px;
    margin-left: -24px;
  }

  .u-section-3-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 9px;
    margin-left: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-3-1 .u-image-1 {
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-1 .u-text-1 {
    margin-top: -368px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-3-1 .u-image-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3-1 .u-text-1 {
    margin-top: -675px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-3-1 .u-text-2 {
    margin: 34px 13px 60px -13px;
  }
}

.u-section-3-2 .u-sheet-1 {
  min-height: 799px;
}

.u-section-3-2 .u-image-1 {
  filter: brightness(0.6);
  height: 708px;
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-3-2 .u-text-1 {
  margin: -684px 25px 0 264px;
}

.u-section-3-2 .u-text-2 {
  margin: 13px 25px 60px 743px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-3-2 .u-image-1 {
    margin-top: 300px;
  }

  .u-section-3-2 .u-text-1 {
    margin-top: -402px;
    margin-right: 0;
    margin-left: 89px;
  }

  .u-section-3-2 .u-text-2 {
    margin-right: 0;
    margin-left: 568px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-3-2 .u-text-1 {
    width: auto;
    margin-top: -674px;
    margin-left: 0;
  }

  .u-section-3-2 .u-text-2 {
    width: auto;
    margin-top: 45px;
    margin-left: 348px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-3-2 .u-image-1 {
    margin-top: 50px;
  }

  .u-section-3-2 .u-text-1 {
    margin-top: -368px;
  }

  .u-section-3-2 .u-text-2 {
    margin-left: 168px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-3-2 .u-image-1 {
    margin-top: 43px;
  }

  .u-section-3-2 .u-text-1 {
    margin-top: -678px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3-2 .u-text-2 {
    margin: 37px 12px 60px 81px;
  }
}

.u-section-3-3 .u-sheet-1 {
  min-height: 799px;
}

.u-section-3-3 .u-image-1 {
  filter: brightness(0.6);
  height: 708px;
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-3-3 .u-text-1 {
  margin: -679px 22px 0 283px;
}

.u-section-3-3 .u-text-2 {
  margin: 22px 22px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-3-3 .u-image-1 {
    margin-top: 300px;
  }

  .u-section-3-3 .u-text-1 {
    margin-top: -402px;
    margin-right: 0;
    margin-left: 105px;
  }

  .u-section-3-3 .u-text-2 {
    margin-right: 0;
    margin-left: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-3-3 .u-image-1 {
    margin-top: 0;
  }

  .u-section-3-3 .u-text-1 {
    width: auto;
    margin-top: -698px;
    margin-left: 0;
  }

  .u-section-3-3 .u-text-2 {
    width: auto;
    margin-top: 44px;
    margin-left: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-3-3 .u-image-1 {
    margin-top: 50px;
  }

  .u-section-3-3 .u-text-1 {
    margin-top: -368px;
  }

  .u-section-3-3 .u-text-2 {
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-3-3 .u-image-1 {
    margin-top: 43px;
  }

  .u-section-3-3 .u-text-1 {
    margin-top: -673px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-3-3 .u-text-2 {
    margin-top: 47px;
    margin-bottom: 60px;
    margin-left: 109px;
  }
}

.u-section-3-4 .u-sheet-1 {
  min-height: 799px;
}

.u-section-3-4 .u-image-1 {
  filter: brightness(0.6);
  height: 708px;
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-3-4 .u-text-1 {
  margin: -679px 22px 0 283px;
}

.u-section-3-4 .u-text-2 {
  margin: 22px 22px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-3-4 .u-image-1 {
    margin-top: 300px;
  }

  .u-section-3-4 .u-text-1 {
    margin-top: -402px;
    margin-right: 0;
    margin-left: 105px;
  }

  .u-section-3-4 .u-text-2 {
    margin-right: 0;
    margin-left: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-3-4 .u-image-1 {
    margin-top: 0;
  }

  .u-section-3-4 .u-text-1 {
    width: auto;
    margin-top: -708px;
    margin-right: 16px;
    margin-left: -16px;
  }

  .u-section-3-4 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: 16px;
    margin-left: 156px;
  }
}

@media (max-width: 767px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-3-4 .u-image-1 {
    margin-top: 50px;
  }

  .u-section-3-4 .u-text-1 {
    margin-top: -368px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-3-4 .u-image-1 {
    margin-top: 43px;
  }

  .u-section-3-4 .u-text-1 {
    margin-top: -695px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3-4 .u-text-2 {
    margin-top: 46px;
    margin-bottom: 60px;
    margin-left: 147px;
  }
}

.u-section-3-5 .u-sheet-1 {
  min-height: 799px;
}

.u-section-3-5 .u-image-1 {
  filter: brightness(0.6);
  height: 708px;
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-3-5 .u-text-1 {
  margin: -666px 18px 0 348px;
}

.u-section-3-5 .u-text-2 {
  margin: 18px 18px 60px 469px;
}

@media (max-width: 1199px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-3-5 .u-image-1 {
    margin-top: 300px;
  }

  .u-section-3-5 .u-text-1 {
    margin-top: -402px;
    margin-right: 0;
    margin-left: 166px;
  }

  .u-section-3-5 .u-text-2 {
    margin-right: 0;
    margin-left: 287px;
  }
}

@media (max-width: 991px) {
  .u-section-3-5 .u-image-1 {
    margin-top: 0;
  }

  .u-section-3-5 .u-text-1 {
    width: auto;
    margin-top: -686px;
    margin-left: 0;
  }

  .u-section-3-5 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 67px;
  }
}

@media (max-width: 767px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-3-5 .u-image-1 {
    margin-top: 50px;
  }

  .u-section-3-5 .u-text-1 {
    margin-top: -368px;
  }

  .u-section-3-5 .u-text-2 {
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-3-5 .u-image-1 {
    margin-top: 43px;
  }

  .u-section-3-5 .u-text-1 {
    margin-top: -689px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3-5 .u-text-2 {
    margin-top: 24px;
    margin-bottom: 60px;
    margin-left: 57px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 698px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-1 {
  height: 578px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-4 .u-gallery-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  transition-duration: 0.5s;
  padding: 69px;
}

.u-section-4 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  transition-duration: 0.5s;
  padding: 69px;
}

.u-section-4 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  transition-duration: 0.5s;
  padding: 69px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-4 .u-gallery-1 {
    height: 477px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1216px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1096px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2586px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2466px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1673px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1553px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 743px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1064px;
  margin: 0 26px 60px 50px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 238px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 18px 20px 0;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 4.5rem;
}

.u-section-5 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 238px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 18px 20px 0;
}

.u-section-5 .u-text-4 {
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-5 {
  margin: 19px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 238px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 18px 20px 0;
}

.u-section-5 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 4.5rem;
}

.u-section-5 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 238px;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 18px 20px 0;
}

.u-section-5 .u-text-8 {
  font-size: 4.5rem;
  margin: 0;
}

.u-section-5 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 477px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/20230515105920_GC203212.jpg");
  background-position: 0% 0%;
  background-size: 200%;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 22px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 210px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 210px;
  }

  .u-section-5 .u-image-1 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 20px;
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 705px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
    font-size: 1.3333333333333333rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3.75rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-5 .u-text-5 {
    width: auto;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-5 .u-text-6 {
    font-size: 3.75rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    width: auto;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-5 .u-text-8 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-5 .u-text-9 {
    width: auto;
  }

  .u-section-5 .u-image-1 {
    min-height: 529px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 17px;
    margin-bottom: 37px;
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-5 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-6 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-8 {
    font-size: 3rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 333px;
  }
}